@media (max-width:1100px)
    .solution-in
        flex-wrap wrap
        justify-content center
    .solution-in
        padding 15px
    .solution-icon
        margin-right 0
        margin-bottom 15px
    .solution-title
        font-size 18px
    .solution-info
        text-align center
    .emails-view
        margin-left 0

@media (max-width: 1023px)
    .solution-items__slider
            &:after,
            &:before
                display none

@media (max-width: 991px)
    .page-footer-info
        padding 60px 0
    .bottom-menu
        margin -7px -30px 0 0
    .bottom-menu__item
        padding-right 30px
    .page-footer
        &:before    
            width 100px
            height 100px
            left -50px
            bottom -50px
    .top-main__wrap
        padding-left 20px
        padding-right 20px
    .companies
        margin-bottom 40px
        flex-wrap wrap
        padding 0 20px
    .companies__item
        margin 0 20px 20px 0
        &:last-child
            margin-right 0
    .page-pre
        padding 0 20px
    .solution
        .page-pre
            margin-bottom 40px
    .people
        &:before
            width 250px
            height 250px
            top -125px
            right -125px
    .page-footer
        &:after
            width 150px
            height 150px
            top -75px
            right -75px
            border-radius 15px
    .people-cards__item
        padding 0 10px
        margin-bottom 20px
        width 50%
    .people-cards
        margin 0 -5px
    .price-sum
        font-size 36px
    .choose__price
        padding-left 20px
    .emails
        padding 100px 0
        .page-pre
            max-width 100%
    .emails__wrap
        flex-wrap wrap
    emails__pre
        width 100%
        margin-bottom 30px
    .emails-view
        margin-top 0
    .work
        .page-pre
            max-width 100%
            padding 0
    .work__wrap
        flex-wrap wrap
    .work__info
        width 100%
        margin 0 0 85px 0
        order 1
    .work__view
        width 100%
        order 2
    .work-links
        display flex
        flex-wrap wrap
    .w-link
        padding 9px 10px 12px 10px
        min-width inherit
    .w-link__icon
        margin-right 10px
    .w-link__view
        font-size 18px
    .work-links__item
        margin 0 15px 15px 0
    .work__view
        display flex
        justify-content center

@media (max-width: 767px)
    h1
        font-size 40px
    h2
        font-size 36px
    .page-header
        align-items center
        padding 13px
    .page-footer-info__wrap
        flex-wrap wrap

    .page-footer-info__pre
        width 100%
        margin-right 0
        margin-bottom 30px
    .page-footer__txt
        margin-bottom 15px
    .top-main__img
        &:after
            width 150px
            height 150px
        &:before
            width 200px
            height 200px
            border-radius 15px
    .solution,
    .people,
    .choose,
    .emails,
    .work
        padding 40px 0
    .solution-items
        margin-bottom 40px
    .people,
    .emails,
    .work
        .page-pre   
            margin-bottom 40px
    .nav-tabs
        li
            a
                padding 10px
    .choose__top
        padding-right 165px

    .choose__item
        flex-wrap wrap
        padding 20px 0
    .choose__plan,
    .choose-ben,
    .choose__price,
    .choose-btn
        width 50%
        min-width 50%
        flex inherit
    .choose__price
        padding-left 0
    .choose-ben
        padding 0
        margin-bottom 30px
    .choose__plan
        margin-bottom 30px
    .choose-btn
        align-items flex-start
    .emails__txt
        font-size 18px
    .emails__item
        margin-bottom 10px
        &:last-child
            margin-bottom 0
    .emails-view__circle
        left 0

@media (max-width: 600px)
    .page-header
        flex-wrap wrap
    .page-header__nav
        width 100%
        justify-content center
        padding-top 30px
    .top-btn
        margin-left 0
        position absolute
        right 13px
        top 13px
    .page-footer-info__wrap
        position relative
    .logo
        margin 7px 0 0
    .page-footer-info
        padding 40px 0
    .bottom-menu
        margin: 0
        display block
    .bottom-menu__item
        padding-right 0
        margin-bottom 30px
        &:last-child
            margin-bottom 0
    .bottom-menu__top
        margin-bottom 20px
    .bottom-menu__link
        margin-bottom 15px
        &:last-child
            margin-bottom 0
    .copy
        margin-right 10px
    .top-main
        padding-top 60px
    .people-cards__item
        width 100%
    .page-footer
        overflow hidden
    .choose__top
        padding-right 0
    .nav-tabs
        position static
        display inline-flex
    .choose__plan,
    .choose-ben,
    .choose__price,
    .choose-btn
        width 100%
    .choose__price
        margin-bottom 30px
    .emails-view__circle,
    .work__circle
        width 315px
        min-width 315px
        height 315px
    .emails-view__card
        margin 0
        width 155px
        height 145px
        left 15px
        top 15px
        img
            max-width 100%
    .emails-view__inner
        width 465px
        height 330px
        left 70px
    .work__img
        width 240px
        height 330px
        top 0
        left 0
        img
            max-width 100%
    .work__info
        margin 0 0 30px 0
    .work__msg 
        top: 155px;
        left: 50px;
        width: 285px;
        img
            max-width 100%
    .emails__pro
        margin-left 10px
        padding 4px
        font-size 11px

