/*FONT*/
default-font = CircularStdBook, sans-serif;
default-size-font = 18px;

/*BACKGROUND*/
default-site-bg = #fff;
alt-site-bg = #f7f8fa;

/*TEXT-COLOR*/
base-color = #7c8087;

alt-color = #1d293f;