@font-face {
  font-family: CircularStdMedium;
  src: url("../fonts/circularstd/circularstd-medium/circularstd-medium.eot");
  src: url("../fonts/circularstd/circularstd-medium/circularstd-medium.eot?#iefix") format('embedded-opentype'), url("../fonts/circularstd/circularstd-medium/circularstd-medium.woff2") format('woff2'), url("../fonts/circularstd/circularstd-medium/circularstd-medium.woff") format('woff'), url("../fonts/circularstd/circularstd-medium/circularstd-medium.ttf") format('truetype'), url("../fonts/circularstd/circularstd-medium/circularstd-medium.svg#circularstd-medium") format('svg');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: CircularStdBook;
  src: url("../fonts/circularstd/circularstd-book/circularstd-book.eot");
  src: url("../fonts/circularstd/circularstd-book/circularstd-book.eot?#iefix") format('embedded-opentype'), url("../fonts/circularstd/circularstd-book/circularstd-book.woff2") format('woff2'), url("../fonts/circularstd/circularstd-book/circularstd-book.woff") format('woff'), url("../fonts/circularstd/circularstd-book/circularstd-book.ttf") format('truetype'), url("../fonts/circularstd/circularstd-book/circularstd-book.svg#circularstd-book") format('svg');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: CircularStdBold;
  src: url("../fonts/circularstd/circularstd-bold/circularstd-bold.eot");
  src: url("../fonts/circularstd/circularstd-bold/circularstd-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/circularstd/circularstd-bold/circularstd-bold.woff2") format('woff2'), url("../fonts/circularstd/circularstd-bold/circularstd-bold.woff") format('woff'), url("../fonts/circularstd/circularstd-bold/circularstd-bold.ttf") format('truetype'), url("../fonts/circularstd/circularstd-bold/circularstd-bold.svg#circularstd-bold") format('svg');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box /* 1 */;
          box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  -webkit-text-decoration: underline /* 2 */;
          text-decoration: underline /* 2 */;
  -webkit-text-decoration: underline dotted /* 2 */;
          text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box /* 1 */;
          box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box /* 1 */;
          box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
  -moz-outline-style: none;
}
:-moz-any-link:focus {
  outline: 1px dotted invert;
}
:-moz-any-link:focus {
  outline: none;
}
textarea,
input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
body {
  margin: 0;
  height: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-family: CircularStdBook, sans-serif;
  color: #7c8087;
}
@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format('woff');
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
/* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}
.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
/* For Firefox */
  -ms-overflow-style: none;
/* For Internet Explorer and Edge */
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -webkit-scroll-snap-type: x mandatory;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
}
:root {
  --swiper-navigation-size: 44px;
/*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}
.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #fff;
}
.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000;
}
.swiper-button-lock {
  display: none;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}
.swiper-pagination-progressbar {
  background: rgba(0,0,0,0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-white {
  --swiper-pagination-color: #fff;
}
.swiper-pagination-black {
  --swiper-pagination-color: #000;
}
.swiper-pagination-lock {
  display: none;
}
.swiper-scrollbar {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0,0,0,0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper-slide-zoomed {
  cursor: move;
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top-color: transparent;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.swiper-container-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 13px 13px 13px 38px;
  background: #f7f8fa;
}
.logo {
  display: inline-block;
  width: 103px;
  height: 28px;
  background: url("../img/t-logo.png") no-repeat;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-btn {
  display: inline-block;
  text-decoration: none;
  color: #e9f7fe;
  padding: 15px 17px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #0f53fa;
  font-size: 13px;
  font-family: CircularStdMedium;
  margin-left: 41px;
}
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-nav__link {
  color: #1d293f;
  font-size: 16px;
  text-decoration: none;
  margin-right: 40px;
}
.top-nav__link:last-child {
  margin-right: 0;
}
.layout {
  overflow: hidden;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  font-family: CircularStdBold;
  font-size: 58px;
  margin: 0 0 20px 0;
  color: #1d293f;
  letter-spacing: -1px;
}
h2 {
  font-family: CircularStdBold;
  font-size: 48px;
  margin: 0 0 20px 0;
  color: #1d293f;
  letter-spacing: -1px;
}
.btn {
  display: inline-block;
  background: #0f53fa;
  color: #fff;
  font-size: 16px;
  font-family: CircularStdMedium;
  padding: 18px 25px;
  text-decoration: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.btn-alt {
  display: inline-block;
  background: #fff;
  border: 2px solid #e2e4e8;
  color: #1d293f;
  font-size: 16px;
  font-family: CircularStdMedium;
  padding: 16px 24px;
  text-decoration: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.btn__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.page-pre {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.top-main {
  background: #f7f8fa;
  padding-top: 97px;
  text-align: center;
  -webkit-box-shadow: inset 0px -98px 114px 0px rgba(29,41,63,0.04);
          box-shadow: inset 0px -98px 114px 0px rgba(29,41,63,0.04);
  overflow: hidden;
}
.top-main h1 {
  margin: 0 0 10px 0;
}
.top-main .btn {
  margin-bottom: 18px;
}
.top-main .page-pre__add {
  margin: 0 auto 38px;
  font-size: 21px;
  line-height: 1.4;
}
.top-main__add {
  font-size: 13px;
  color: #8c97ac;
}
.top-main__wrap {
  overflow: hidden;
  padding: 110px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-main__img {
  background: #fff;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  -webkit-box-shadow: 0px -17px 84px 0px rgba(29,41,63,0.12);
          box-shadow: 0px -17px 84px 0px rgba(29,41,63,0.12);
  position: relative;
}
.top-main__img img {
  display: block;
  max-width: 100%;
  position: relative;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  z-index: 2;
}
.top-main__img:before {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background: #ffd166;
  position: absolute;
  left: -79px;
  bottom: -93px;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  -webkit-transform: rotate(67deg);
      -ms-transform: rotate(67deg);
          transform: rotate(67deg);
  -webkit-animation: rotate 7s infinite ease-in;
          animation: rotate 7s infinite ease-in;
}
.top-main__img:after {
  content: '';
  display: block;
  width: 285px;
  height: 285px;
  background: #37def5;
  position: absolute;
  right: -98px;
  top: -90px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: scale_min 4s infinite ease-in;
          animation: scale_min 4s infinite ease-in;
}
.solution {
  padding: 47px 0 117px;
  border-bottom: 1px solid #eceff4;
  text-align: center;
}
.solution h2 {
  margin-bottom: 8px;
}
.solution .page-pre {
  margin-bottom: 81px;
}
.solution .page-pre__add {
  line-height: 1.75;
}
.solution .btn {
  padding: 18px 20px 14px 22px;
}
.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 133px;
}
.companies__item {
  margin-right: 72px;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.companies__item:last-child {
  margin-right: 0;
}
.companies__item img {
  display: block;
}
.solution-items {
  margin-bottom: 65px;
}
.solution-items__slider {
  overflow: visible;
}
.solution-items__slider:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 3;
}
.solution-items__slider:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 3;
}
.solution-in {
  padding: 20px;
  background: #f7f8fa;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.solution-icon {
  width: 55px;
  min-width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 20px;
}
.solution-info {
  margin: -3px 0 0 0;
}
.solution-title {
  font-size: 21px;
  font-family: CircularStdBold;
  color: #1d293f;
  margin-bottom: 13px;
}
.solution-txt {
  font-size: 16px;
  line-height: 1.7;
}
.people {
  padding: 132px 0;
  background: #f7f8fa;
  position: relative;
  overflow: hidden;
}
.people .page-pre__add {
  line-height: 1.7;
}
.people .page-pre {
  position: relative;
  z-index: 1;
  margin-bottom: 87px;
}
.people .page-pre h2 {
  margin-bottom: 8px;
}
.people:before {
  content: "";
  background: #ffd166;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
  width: 543px;
  height: 543px;
  position: absolute;
  top: -383px;
  right: -192px;
  -webkit-animation: scale 4s infinite ease-in;
          animation: scale 4s infinite ease-in;
}
.people-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.people-cards__item {
  width: 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.people-cards__in {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
  border: 2px solid #f0f1f3;
  padding: 20px 20px 22px 20px;
}
.people-cards__top {
  margin: 0 0 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 35px 0 0;
  position: relative;
}
.people-cards__top:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url("../img/svg/twitter.svg") center no-repeat;
  position: absolute;
  right: -4px;
  top: 2px;
}
.people-cards__title {
  color: #1d293f;
  font-family: CircularStdMedium;
  margin-bottom: 10px;
}
.people-cards__pos {
  font-size: 13px;
}
.people-cards__txt {
  font-size: 16px;
  line-height: 1.7;
}
.people-cards__info {
  margin: -5px 0 0 0;
}
.people-cards__icon {
  width: 41px;
  min-width: 41px;
  height: 41px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.people-cards__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose {
  background: #fff;
  padding: 150px 0 93px;
}
.choose h2 {
  max-width: 450px;
}
.choose__top {
  position: relative;
  padding-right: 400px;
  margin-bottom: 40px;
}
.nav-tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 4px;
  right: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #ffd166;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.nav-tabs li {
  overflow: hidden;
}
.nav-tabs li.active {
  background: #ffd166;
}
.nav-tabs li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: CircularStdMedium;
  color: #1d293f;
  padding: 18px 58px 15px 58px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.choose__item {
  border-top: 2px solid #f6f8fa;
  padding: 35px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose__plan,
.choose-ben,
.choose__price,
.choose-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}
.price-sum {
  font-size: 58px;
  line-height: 1;
  margin-bottom: 7px;
  font-family: CircularStdMedium;
  color: #1d293f;
}
.price-add {
  font-size: 16px;
  line-height: 1.6;
  max-width: 120px;
}
.choose__plan {
  color: #1d293f;
  font-family: CircularStdBold;
  font-size: 21px;
  max-width: 255px;
}
.choose-ben {
  padding-top: 3px;
}
.choose-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -4px;
}
.choose-btn .btn-alt,
.choose-btn .btn {
  white-space: nowrap;
}
.choose-ben__item {
  color: #1d293f;
  margin-bottom: 20px;
}
.choose-ben__item:last-child {
  margin-bottom: 0;
}
.choose__price {
  padding-left: 140px;
}
.emails {
  padding: 247px 0 120px;
}
.emails h2 {
  margin-bottom: 17px;
}
.emails .page-pre__add {
  line-height: 1.75;
}
.emails .page-pre {
  text-align: left;
  max-width: 430px;
  margin-bottom: 52px;
}
.emails__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.emails__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.emails__item:last-child {
  margin-bottom: 0;
}
.emails__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 59px;
  min-width: 59px;
  height: 59px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #f7f8fa;
  margin-right: 18px;
}
.emails__icon img {
  max-width: 100%;
}
.emails__txt {
  font-family: CircularStdMedium;
  font-size: 24px;
  color: #1d293f;
}
.emails__pro {
  display: inline-block;
  vertical-align: middle;
  font-family: CircularStdBold;
  font-size: 13px;
  color: #1d293f;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #ffd166;
  padding: 6px 7px;
  margin-left: 16px;
}
.emails-view__circle {
  width: 615px;
  height: 615px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffd166;
  position: relative;
  left: 69px;
}
.emails-view {
  margin-top: -130px;
  margin-left: 50px;
  position: relative;
}
.emails-view__card {
  position: absolute;
  left: 87px;
  top: 108px;
  margin-top: 5px;
  z-index: 2;
}
.emails-view__card img {
  display: block;
}
.emails-view__inner,
background #fff {
  width: 865px;
  height: 614px;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px -17px 84px 0px rgba(29,41,63,0.12);
          box-shadow: 0px -17px 84px 0px rgba(29,41,63,0.12);
  position: absolute;
  left: 266px;
  top: 55px;
}
.emails-view__inner img,
background #fff img {
  display: block;
  max-width: 100%;
  position: relative;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
}
.work {
  padding: 149px 0 199px;
}
.work h2 {
  margin-bottom: 17px;
}
.work .page-pre__add {
  line-height: 1.75;
}
.work .page-pre {
  text-align: left;
  max-width: 390px;
  margin-bottom: 52px;
  margin-left: 0;
}
.work__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__circle {
  width: 505px;
  height: 505px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #37def5;
}
.work__view {
  width: 50%;
  position: relative;
}
.work__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 37px 0 0 80px;
}
.work__img {
  position: absolute;
  top: -84px;
  left: -20px;
}
.work__img img {
  display: block;
}
.work__msg {
  position: absolute;
  top: 262px;
  left: 210px;
}
.work__msg img {
  display: block;
}
.work-links__item {
  margin-bottom: 15px;
}
.work-links__item:last-child {
  margin-bottom: 0;
}
.w-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 23px 12px 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  min-width: 238px;
}
.w-link.app-link {
  background: #0f53fa;
  color: #e9f7fe;
  border: 2px solid transparent;
}
.w-link.google-link {
  border: 2px solid #e2e4e8;
}
.w-link.google-link .w-link__top {
  color: #7c8087;
}
.w-link.google-link .w-link__view {
  color: #1d293f;
}
.w-link__icon {
  width: 33px;
  margin-right: 21px;
}
.w-link__icon img {
  display: block;
}
.w-link__top {
  font-size: 16px;
  margin-bottom: 6px;
}
.w-link__view {
  font-size: 24px;
  font-family: CircularStdBold;
}
.el-animate {
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}
.el-animate.el-show {
  opacity: 1;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.el-animate:nth-child(2) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.el-animate:nth-child(3) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.el-animate:nth-child(4) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.el-animate:nth-child(5) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.el-animate:nth-child(6) {
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.el-animate:nth-child(7) {
  -webkit-transition-delay: 1.8s;
       -o-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
.el-animate:nth-child(8) {
  -webkit-transition-delay: 2.1s;
       -o-transition-delay: 2.1s;
          transition-delay: 2.1s;
}
.el-animate:nth-child(9) {
  -webkit-transition-delay: 2.4s;
       -o-transition-delay: 2.4s;
          transition-delay: 2.4s;
}
.el-animate:nth-child(10) {
  -webkit-transition-delay: 2.7s;
       -o-transition-delay: 2.7s;
          transition-delay: 2.7s;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale_min {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale_min {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
  50% {
    -webkit-transform: rotate(77deg);
            transform: rotate(77deg);
  }
  100% {
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
  50% {
    -webkit-transform: rotate(77deg);
            transform: rotate(77deg);
  }
  100% {
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
}
.page-footer {
  background: #1d293f;
  position: relative;
}
.page-footer:before {
  content: "";
  display: inline-block;
  width: 255px;
  height: 255px;
  background: #ffd166;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: -165.5px;
  bottom: -127.5px;
  -webkit-animation: scale 3s infinite ease-in;
          animation: scale 3s infinite ease-in;
}
.page-footer:after {
  content: "";
  display: inline-block;
  width: 400px;
  height: 400px;
  background: #37def5;
  position: absolute;
  right: -324px;
  top: -239px;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  -webkit-transform: rotate(58deg);
      -ms-transform: rotate(58deg);
          transform: rotate(58deg);
  -webkit-animation: rotate 7s infinite ease-in;
          animation: rotate 7s infinite ease-in;
}
.page-footer-info {
  padding: 137px 0 126px 0;
}
.page-footer-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer-info__pre {
  width: 260px;
  margin-right: 50px;
}
.page-footer__logo {
  display: inline-block;
  width: 94px;
  height: 26px;
  background: url("../img/logo.png") no-repeat;
  margin-bottom: 11px;
}
.page-footer__txt {
  font-size: 16px;
  line-height: 1.75;
  color: #8c97ac;
  margin-bottom: 30px;
}
.page-footer__btn {
  display: inline-block;
  color: #fff;
  background: #0f53fa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 15px 22px;
  font-size: 13px;
  text-decoration: none;
  font-family: CircularStdMedium;
}
.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7px -75px 0 0;
}
.bottom-menu__item {
  padding-right: 75px;
}
.bottom-menu__top {
  color: #8c97ac;
  margin-bottom: 32px;
}
.bottom-menu__link {
  display: block;
  font-size: 16px;
  color: #e9f7fe;
  margin-bottom: 24px;
  text-decoration: none;
}
.bottom-menu__link:last-child {
  margin-bottom: 0;
}
.bottom-menu__msg {
  font-size: 16px;
  line-height: 1.75;
  color: #e9f7fe;
  margin: -3px 0 25px;
  max-width: 255px;
}
.bottom-menu__contact {
  display: block;
  font-size: 16px;
  color: #ffd166;
  margin-bottom: 10px;
  text-decoration: none;
}
.bottom-menu__contact:last-child {
  margin-bottom: 0;
}
.bottom {
  color: #8c97ac;
  font-size: 13px;
  position: relative;
  z-index: 5;
}
.bottom__wrap {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 24px 0 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__link {
  width: 15px;
  height: 18px;
  margin-right: 19px;
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__link.m-twitter {
  background: url("../img/twitter.png") center no-repeat;
}
.socials__link.m-fb {
  background: url("../img/fb.png") center no-repeat;
}
.socials__link.m-google {
  background: url("../img/google.png") center no-repeat;
}
@media (max-width: 1100px) {
  .solution-in {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .solution-in {
    padding: 15px;
  }
  .solution-icon {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .solution-title {
    font-size: 18px;
  }
  .solution-info {
    text-align: center;
  }
  .emails-view {
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .solution-items__slider:after,
  .solution-items__slider:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .page-footer-info {
    padding: 60px 0;
  }
  .bottom-menu {
    margin: -7px -30px 0 0;
  }
  .bottom-menu__item {
    padding-right: 30px;
  }
  .page-footer:before {
    width: 100px;
    height: 100px;
    left: -50px;
    bottom: -50px;
  }
  .top-main__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .companies {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px;
  }
  .companies__item {
    margin: 0 20px 20px 0;
  }
  .companies__item:last-child {
    margin-right: 0;
  }
  .page-pre {
    padding: 0 20px;
  }
  .solution .page-pre {
    margin-bottom: 40px;
  }
  .people:before {
    width: 250px;
    height: 250px;
    top: -125px;
    right: -125px;
  }
  .page-footer:after {
    width: 150px;
    height: 150px;
    top: -75px;
    right: -75px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
  }
  .people-cards__item {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 50%;
  }
  .people-cards {
    margin: 0 -5px;
  }
  .price-sum {
    font-size: 36px;
  }
  .choose__price {
    padding-left: 20px;
  }
  .emails {
    padding: 100px 0;
  }
  .emails .page-pre {
    max-width: 100%;
  }
  .emails__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  emails__pre {
    width: 100%;
    margin-bottom: 30px;
  }
  .emails-view {
    margin-top: 0;
  }
  .work .page-pre {
    max-width: 100%;
    padding: 0;
  }
  .work__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__info {
    width: 100%;
    margin: 0 0 85px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .work__view {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .w-link {
    padding: 9px 10px 12px 10px;
    min-width: inherit;
  }
  .w-link__icon {
    margin-right: 10px;
  }
  .w-link__view {
    font-size: 18px;
  }
  .work-links__item {
    margin: 0 15px 15px 0;
  }
  .work__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .page-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px;
  }
  .page-footer-info__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-footer-info__pre {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .page-footer__txt {
    margin-bottom: 15px;
  }
  .top-main__img:after {
    width: 150px;
    height: 150px;
  }
  .top-main__img:before {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
  }
  .solution,
  .people,
  .choose,
  .emails,
  .work {
    padding: 40px 0;
  }
  .solution-items {
    margin-bottom: 40px;
  }
  .people .page-pre,
  .emails .page-pre,
  .work .page-pre {
    margin-bottom: 40px;
  }
  .nav-tabs li a {
    padding: 10px;
  }
  .choose__top {
    padding-right: 165px;
  }
  .choose__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
  }
  .choose__plan,
  .choose-ben,
  .choose__price,
  .choose-btn {
    width: 50%;
    min-width: 50%;
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
  .choose__price {
    padding-left: 0;
  }
  .choose-ben {
    padding: 0;
    margin-bottom: 30px;
  }
  .choose__plan {
    margin-bottom: 30px;
  }
  .choose-btn {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .emails__txt {
    font-size: 18px;
  }
  .emails__item {
    margin-bottom: 10px;
  }
  .emails__item:last-child {
    margin-bottom: 0;
  }
  .emails-view__circle {
    left: 0;
  }
}
@media (max-width: 600px) {
  .page-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-header__nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .top-btn {
    margin-left: 0;
    position: absolute;
    right: 13px;
    top: 13px;
  }
  .page-footer-info__wrap {
    position: relative;
  }
  .logo {
    margin: 7px 0 0;
  }
  .page-footer-info {
    padding: 40px 0;
  }
  .bottom-menu {
    margin: 0;
    display: block;
  }
  .bottom-menu__item {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .bottom-menu__item:last-child {
    margin-bottom: 0;
  }
  .bottom-menu__top {
    margin-bottom: 20px;
  }
  .bottom-menu__link {
    margin-bottom: 15px;
  }
  .bottom-menu__link:last-child {
    margin-bottom: 0;
  }
  .copy {
    margin-right: 10px;
  }
  .top-main {
    padding-top: 60px;
  }
  .people-cards__item {
    width: 100%;
  }
  .page-footer {
    overflow: hidden;
  }
  .choose__top {
    padding-right: 0;
  }
  .nav-tabs {
    position: static;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .choose__plan,
  .choose-ben,
  .choose__price,
  .choose-btn {
    width: 100%;
  }
  .choose__price {
    margin-bottom: 30px;
  }
  .emails-view__circle,
  .work__circle {
    width: 315px;
    min-width: 315px;
    height: 315px;
  }
  .emails-view__card {
    margin: 0;
    width: 155px;
    height: 145px;
    left: 15px;
    top: 15px;
  }
  .emails-view__card img {
    max-width: 100%;
  }
  .emails-view__inner {
    width: 465px;
    height: 330px;
    left: 70px;
  }
  .work__img {
    width: 240px;
    height: 330px;
    top: 0;
    left: 0;
  }
  .work__img img {
    max-width: 100%;
  }
  .work__info {
    margin: 0 0 30px 0;
  }
  .work__msg {
    top: 155px;
    left: 50px;
    width: 285px;
  }
  .work__msg img {
    max-width: 100%;
  }
  .emails__pro {
    margin-left: 10px;
    padding: 4px;
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
