footer.page-footer
    .page-footer-info
        .container
            .page-footer-info__wrap
                .page-footer-info__pre
                    a(href="#").page-footer__logo
                    .page-footer__txt Your ulitmate email solution to grow business and engaging with future customers and clients.
                    a.page-footer__btn(href="#") Ask Question
                .page-footer-info__menu 
                    .bottom-menu
                        .bottom-menu__item 
                            .bottom-menu__top Community
                            a(href="#").bottom-menu__link For Talents
                            a(href="#").bottom-menu__link For Companies
                            a(href="#").bottom-menu__link Facebook Group
                            a(href="#").bottom-menu__link FAQ
                        .bottom-menu__item 
                            .bottom-menu__top About us
                            a(href="#").bottom-menu__link Meet the Team
                            a(href="#").bottom-menu__link Our Story
                            a(href="#").bottom-menu__link Career
                        .bottom-menu__item 
                            .bottom-menu__top Contacts
                            .bottom-menu__msg Feel free to get in touch with us via phone or send us a message.
                            a(href="tel:+13013403946").bottom-menu__contact +1-301-340-3946
                            a(href="mailto::info@finity.com").bottom-menu__contact info@finity.com
    .bottom 
        .container
            .bottom__wrap 
                .copy &copy;Finity 2019, All Rights Reserved
                .socials
                    a.socials__link.m-twitter(href="#") 
                    a.socials__link.m-fb(href="#") 
                    a.socials__link.m-google(href="#") 



