header.page-header
    a.logo(href="#") 
    .page-header__nav 
        nav.top-nav
            a.top-nav__link(href="#") Demos
            a.top-nav__link(href="#") Pages
            a.top-nav__link(href="#") Support 
        a.top-btn(href="#") Start 14 Days Free Trial 