@font-face
    font-family CircularStdMedium
    src url('../fonts/circularstd/circularstd-medium/circularstd-medium.eot')
    src url('../fonts/circularstd/circularstd-medium/circularstd-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd/circularstd-medium/circularstd-medium.woff2') format('woff2'),
        url('../fonts/circularstd/circularstd-medium/circularstd-medium.woff') format('woff'),
        url('../fonts/circularstd/circularstd-medium/circularstd-medium.ttf') format('truetype'),
        url('../fonts/circularstd/circularstd-medium/circularstd-medium.svg#circularstd-medium') format('svg')
    font-style normal
    font-weight 500
    font-display swap

@font-face
    font-family CircularStdBook
    src url('../fonts/circularstd/circularstd-book/circularstd-book.eot')
    src url('../fonts/circularstd/circularstd-book/circularstd-book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd/circularstd-book/circularstd-book.woff2') format('woff2'),
        url('../fonts/circularstd/circularstd-book/circularstd-book.woff') format('woff'),
        url('../fonts/circularstd/circularstd-book/circularstd-book.ttf') format('truetype'),
        url('../fonts/circularstd/circularstd-book/circularstd-book.svg#circularstd-book') format('svg')
    font-style normal
    font-weight 500
    font-display swap

@font-face
    font-family CircularStdBold
    src url('../fonts/circularstd/circularstd-bold/circularstd-bold.eot')
    src url('../fonts/circularstd/circularstd-bold/circularstd-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd/circularstd-bold/circularstd-bold.woff2') format('woff2'),
        url('../fonts/circularstd/circularstd-bold/circularstd-bold.woff') format('woff'),
        url('../fonts/circularstd/circularstd-bold/circularstd-bold.ttf') format('truetype'),
        url('../fonts/circularstd/circularstd-bold/circularstd-bold.svg#circularstd-bold') format('svg')
    font-style normal
    font-weight bold
    font-display swap


@import 'includes/_variables'

@import 'includes/_normalize'

@import 'includes/_body'

@import 'libs/_swiper'

@import 'components/_header'
@import 'includes/_main'
@import 'components/_footer'
@import 'includes/_adaptive'
