.page-header 
    display flex
    justify-content space-between
    align-items flex-end
    padding 13px 13px 13px 38px
    background #f7f8fa

.logo{
    display inline-block
    width 60px
    height 60px
    background url(../img/svg/f-logo.svg) center/cover no-repeat
}

.page-header__nav 
    display flex
    align-items center

.top-btn
    display inline-block
    text-decoration none
    color #e9f7fe
    padding 15px 17px
    border-radius 5px
    background #0f53fa
    font-size 13px
    font-family CircularStdMedium
    margin-left 41px

.top-nav
    display flex

.top-nav__link
    color alt-color
    font-size 16px
    text-decoration none
    margin-right 40px
    &:last-child
        margin-right 0