doctype html
html(lang='en')
	head
		include includes/_head
	body
		include includes/_header
		.layout
			.top-main 
				.page-pre.el-animate  
					h1 More than your regular email inbox
					.page-pre__add We’ve helped over 25,000 individuals and companies to grow their business successfully.
				a.btn.el-animate(href="#") Start 14 Days Free Trial 
				.top-main__add.el-animate  No credit card required
				.top-main__wrap.el-animate 
					.top-main__img
						img(src="img/m-img.jpg", alt="")
				 
			.solution
				.companies
					.companies__item.el-animate 
						img(src="img/company1.png", alt="")
					.companies__item.el-animate 
						img(src="img/company2.png", alt="")
					.companies__item.el-animate 
						img(src="img/company3.png", alt="")
					.companies__item.el-animate 
						img(src="img/company4.png", alt="")
					.companies__item.el-animate 
						img(src="img/company5.png", alt="")
				.page-pre 
					h2 Solution made for you
					.page-pre__add These companies release their own versions of the operating systems with minor changes, and yet always.

				.solution-items 
					.container 
						.swiper-container.solution-items__slider
							.swiper-wrapper
								.swiper-slide.solution-item
									.solution-in
										.solution-icon 
											img(src="img/svg/node.svg", alt="")
										.solution-info 
											.solution-title Team Collaboration
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item
									.solution-in
										.solution-icon 
											img(src="img/svg/chat.svg", alt="")
										.solution-info 
											.solution-title Instant Chat
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item 
									.solution-in 
										.solution-icon 
											img(src="img/svg/media.svg", alt="")
										.solution-info 
											.solution-title Media Manager
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item
									.solution-in
										.solution-icon 
											img(src="img/svg/chat.svg", alt="")
										.solution-info 
											.solution-title Test
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item
									.solution-in
										.solution-icon 
											img(src="img/svg/chat.svg", alt="")
										.solution-info 
											.solution-title Instant Chat
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item 
									.solution-in 
										.solution-icon 
											img(src="img/svg/media.svg", alt="")
										.solution-info 
											.solution-title Media Manager
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
								.swiper-slide.solution-item
									.solution-in
										.solution-icon 
											img(src="img/svg/chat.svg", alt="")
										.solution-info 
											.solution-title Test
											.solution-txt We’ve helped over 2,500 job seekers to get into the most popular tech teams.
				a.btn(href="#")
					span.btn__icon
						img(src="img/svg/see.svg", alt="")
					| See Finity in Action

			.emails
				.container
					.emails__wrap 
						.emails__pre
							.page-pre 
								h2 Get all your emails in a single place
								.page-pre__add These companies release their own versions of the operating systems with minor changes, and yet always with the same bottom line. 
							.emails-list 
								.emails__item.el-animate
									.emails__icon
										img(src="img/svg/e-i1.svg", alt="")
									.emails__txt Connect with new people
								.emails__item.el-animate 
									.emails__icon
										img(src="img/svg/e-i2.svg", alt="")
									.emails__txt Increase chance to engage
								.emails__item.el-animate
									.emails__icon
										img(src="img/svg/e-i3.svg", alt="")
									.emails__txt 
										|Unlimited storage
										span.emails__pro pro
						.emails-view
							.emails-view__circle
							.emails-view__card
								img(src="img/emails-card.png", alt="")
							.emails-view__inner 
								img(src="img/connection.jpg", alt="")

			.work 
				.container 
					.work__wrap 
						.work__view
							.work__circle 
							.work__img 
								img(src="img/w-img.png", alt="")
							.work__msg 
								img(src="img/w-msg.png", alt="")
						.work__info 
							.page-pre 
								h2 Work anywhere, with any device
								.page-pre__add These companies release their own versions of the operating systems with minor changes, and yet always with the same bottom line.
							.work-links
								.work-links__item 
									a.w-link.app-link(href="#") 
										.w-link__icon 
											img(src="img/svg/apple.svg", alt="")
										.w-link__info
											.w-link__top Download on the
											.w-link__view App Store

								.work-links__item 
									a.w-link.google-link(href="#")
										.w-link__icon 
											img(src="img/b-google.png", alt="")
										.w-link__info
											.w-link__top Get it on
											.w-link__view Google Play

			.people
				.container
					.page-pre 
						h2 10,000+ people love us
						.page-pre__add These companies release their own versions of the operating systems with minor changes, and yet always.
					.people-cards
						.people-cards__item.el-animate  
							.people-cards__in 
								.people-cards__top 
									.people-cards__icon 
										img(src="img/person1.png", alt="")
									.people-cards__info
										.people-cards__title Aaron Almaraz
										.people-cards__pos CEO & Founder at Gearat
								.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
						.people-cards__item.el-animate 
								.people-cards__in 
									.people-cards__top 
										.people-cards__icon 
											img(src="img/person2.png", alt="")
										.people-cards__info
											.people-cards__title Phet Putrie
											.people-cards__pos Freelancer
									.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
						.people-cards__item.el-animate 
								.people-cards__in 
									.people-cards__top 
										.people-cards__icon 
											img(src="img/person3.png", alt="")
										.people-cards__info
											.people-cards__title Lara Madrigal
											.people-cards__pos Marketing Specialist
									.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
						.people-cards__item.el-animate  
								.people-cards__in 
									.people-cards__top 
										.people-cards__icon 
											img(src="img/person4.png", alt="")
										.people-cards__info
											.people-cards__title Marleah Eagleston
											.people-cards__pos Founder at Spicenet
									.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
						.people-cards__item.el-animate 
								.people-cards__in 
									.people-cards__top 
										.people-cards__icon 
											img(src="img/person5.png", alt="")
										.people-cards__info
											.people-cards__title Prescott MacCaffery
											.people-cards__pos Writer
									.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
						.people-cards__item.el-animate 
								.people-cards__in 
									.people-cards__top 
										.people-cards__icon 
											img(src="img/person6.png", alt="")
										.people-cards__info
											.people-cards__title Waiapi Karaka
											.people-cards__pos Designer, Freelancer
									.people-cards__txt Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
			
			.choose 
				.container 
					.choose__top 
						h2 Choose the right plan for your finity
						ul.nav.nav-tabs
							li.active
								a(href="#yearly") Yearly
							li
								a(href="#monthly") Monthly
					.tab-content
						#yearly.tab-pane.active 
							.choose__wrap 
								.choose__item.el-animate  
									.choose__plan Starter
									.choose-ben
										.choose-ben__item 10 GB Storage
										.choose-ben__item 15 Accounts
										.choose-ben__item 1,000 Connections
									.choose__price
										.price-sum $228
										.price-add $19 per month, billed yearly
									.choose-btn
										a.btn-alt(href="#") Start 14 Days Free Trial
								.choose__item.el-animate  
									.choose__plan Standart
									.choose-ben
										.choose-ben__item 100 GB Storage
										.choose-ben__item 50 Accounts
										.choose-ben__item 5,000 Connections
									.choose__price
										.price-sum $468
										.price-add $19 per month, billed yearly
									.choose-btn
										a.btn-alt(href="#") Start 14 Days Free Trial
								.choose__item.el-animate  
									.choose__plan Pro
									.choose-ben
										.choose-ben__item Unlimited Storage
										.choose-ben__item Unlimited Accounts
										.choose-ben__item Unlimited Connections
									.choose__price
										.price-sum $708
										.price-add $19 per month, billed yearly
									.choose-btn 
										a.btn(href="#") Start 14 Days Free Trial 
									
						#monthly.tab-pane
							.choose__wrap 
								.choose__item 
									.choose__plan Standart
									.choose-ben
										.choose-ben__item 100 GB Storage
										.choose-ben__item 50 Accounts
										.choose-ben__item 5,000 Connections
									.choose__price
										.price-sum $468
										.price-add $19 per month, billed yearly
									.choose-btn
										a.btn-alt(href="#") Start 14 Days Free Trial
								.choose__item 
									.choose__plan Pro
									.choose-ben
										.choose-ben__item Unlimited Storage
										.choose-ben__item Unlimited Accounts
										.choose-ben__item Unlimited Connections
									.choose__price
										.price-sum $708
										.price-add $19 per month, billed yearly
									.choose-btn 
										a.btn(href="#") Start 14 Days Free Trial 
			include includes/_footer
